##########
# VSCode #
##########
GameDataMultiLibrary.code-workspace

##########
# Setups #
##########
# Ignore environment setups for testing purposes
*implementation/


# Ignore Node installs
node_modules/

# Ignore secrets files
*secrets*
*.env
*.dev.env
